body {
    background-color: #f8fff8;
}

.nav-link:hover {
    color: #198754 !important;
}

.section-box {
    background: #ffffff;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s;
}

.section-box:hover {
    transform: translateY(-5px);
}

